@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chravel</h1>
    <p>New to China? Don't know where to go? We're here to help you customize your trip around China!</p>
</div>
